* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

body {
	background: #fef8f5;
	font-family: "Rubik", system-ui;

	overflow-x: hidden;
}

.header {
	position: relative;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
}

.logo-conainer {
	display: flex;
	gap: 28px;
	align-items: center;
}

.logo-conainer {
	text-decoration: none;
}

.logo-text {
	font-family: "DM Serif Display", serif;

	font-size: 32px;
	font-weight: 400;
	line-height: 32px;
	color: #fff;

	text-transform: uppercase;
}

.nav-ul {
	display: flex;
	list-style: none;
}

.list {
	display: flex;
	gap: 97px;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
}

.nav-link:hover {
	text-decoration: underline;
}

.nav-link {
	font-family: "Rubik";
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0.05em;

	text-decoration: none;
	color: #fff;

	text-transform: uppercase;
}

.button {
	stroke: none;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 50px 0;
}

.background-container {
	margin: 0 auto;
	width: 1354px;
}

.background-image {
	position: absolute;
	z-index: -1;

	height: auto;
	width: 1354px;
}

.hero-text {
	width: 70%;
}

.button {
	padding: 21px 25px;
	border-radius: 5px;

	border: none;
}

.button--orange {
	color: #fff;

	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.8px;
	text-transform: uppercase;

	background-color: #ee4d47;
}

.header-1 {
	color: #fff;
	font-family: "DM Serif Display";
	font-size: 100px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 100px */
}

.margin--very-small {
	margin-bottom: 40px;
}

.margin--small {
	margin-bottom: 60px;
}

.margin--biggest {
	margin-bottom: 150px;
}

.margin--very-biggest {
	margin-bottom: 200px;
}

.car-image {
	width: 80%;
	transform: translate(-40%);
}

.header-2 {
	color: #ee4d47;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 166.667% */
	letter-spacing: 2.4px;
	text-transform: uppercase;
}

.features {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.feature-bar {
	display: flex;
	gap: 90px;
}

.text {
	color: var(--text, #402b2b);
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 40px; /* 222.222% */
}

.ask-container {
	background-color: #fcddd4;
	padding: 30px;
	border-left: 10px solid #ee4d47;
	border-radius: 10px;
}

.ask-text {
	color: var(--text, #402b2b);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px; /* 150% */
}
