.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  min-height: 77.95vh;
}

.success-page h2 {
  font-size: 2rem;
  color: #28a745;
}

.success-page p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #333;
}

.success-page button {
  margin-top: 20px;
}
